.carousel {
  &__title {
    position: absolute;
    top: 40px;
    left: 240px;
    width: calc(100% - 240px);
    font-style: italic;
  }

  &__button {
    position: absolute;
    top: 55%;
    border: unset;
    color: $color_auxiliary;
    cursor: pointer;

    @include square(50px, 50%);
    @extend %flex-center;
    @include transitionHoverBg($color_white);

    &--previous {
      left: 0;
    }

    &--next {
      right: 0;
    }

    > span {
      font-size: 2.5rem;
    }
  }

  &__items {
    > li {
      display: none;
      opacity: 0;
      animation: fadeIn 300ms;

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      &.active {
        display: list-item;
        opacity: 1;
      }
    }
  }

  &__avatar {
    overflow: hidden;
    border: 10px $color_auxiliary solid;

    @include square(200px, 200px);

    img {
      width: 200px;
    }
  }

  &__dots {
    margin: 20px;

    @extend %flex-center;

    > li {
      margin-right: 10px;
      background-color: $color_primary--light;
      cursor: pointer;

      @include square(16px, 200px);

      &:last-child {
        margin-right: unset;
      }

      &.active {
        background-color: $color_white;
      }
    }
  }

  .paper-block__container {
    overflow: auto;
    margin-top: 8rem;
    max-height: 70vh;
  }
}
