.carousel {
  &__title {
    position: absolute;
    top: 40px;
    left: 240px;
    width: calc(100% - 240px);
    font-style: italic;
  }

  &__avatar {
    overflow: hidden;
    border: 10px $color_auxiliary solid;

    @include square(200px, 200px);

    img {
      width: 200px;
    }
  }

  .paper-block__container {
    overflow: auto;
    margin-top: 8rem;
    max-height: 70vh;
  }
}
