.traffic-info {
  margin-top: -9rem;
  margin-bottom: -2rem;
  margin-left: 10rem;
  padding-top: 1rem;
  width: calc(100% - 15rem);
  font-size: 1rem;
  line-height: 1.5;

  @include phone-width() {
    margin: 0;
    width: 100%;
  }

  > p {
    margin-bottom: 10px;
  }

  > ul {
    margin-left: 1rem;

    > li {
      margin-top: 10px;
      list-style-type: disc;

      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }
}

.line-title--right + .traffic-info {
  margin-left: -10rem;

  @include phone-width() {
    margin: 0;
  }
}
