.traffic-info {
  margin-top: -9rem;
  margin-left: 10rem;
  padding-top: 1rem;
  width: calc(100% - 15rem);
  line-height: 2;

  @include phone-width() {
    margin: 0;
    width: 100%;
  }

  > ul {
    margin-left: 1rem;

    > li {
      margin-top: 10px;
      list-style-type: disc;
    }
  }
}

.line-title--right + .traffic-info {
  margin-left: -10rem;

  @include phone-width() {
    margin: 0;
  }
}
