.navbar {
  position: fixed;
  z-index: $z-index_front;
  overflow: auto;
  width: 100%;
  height: $height_navbar;
  border-bottom: $color_accent 1px solid;
  background-color: rgba($color_primary, $alpha: 0.7);
  transition: background-color 300ms;

  @extend %flex-center;

  &:hover {
    background-color: $color_primary;
  }

  &__container {
    @extend %layout-container;
    @extend %flex-row-between;
  }

  &__links {
    @extend %flex-row;

    a {
      position: relative;
      display: inline-block;
      padding: 10px 15px;
      color: $color_white;
      word-break: keep-all;
      transition: transform 300ms;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: $z-index_back;
        width: 0;
        height: 100%;
        background-color: $color_accent--dark;
        content: '';
        transition: width 400ms;
        transform: skewX(15deg);
      }

      &.active,
      &:hover {
        transform: scale(1.1);

        &::before {
          width: 100%;
          transform: skewX(15deg);
        }
      }
    }
  }

  &__language {
    @extend %flex-row;

    > li {
      margin-right: 1rem;
      padding: 0 20px;
      border: 1px solid $color_white;
      transition: color 300ms, background-color 300ms;

      @extend %inline-flex-center;

      &:nth-last-child(1) {
        margin-right: 0;
      }

      &.active,
      &:hover {
        background-color: $color-white;
        color: $color_primary;
      }
    }
  }
}
