$color_white: #ffffff;
$color_black: #000000;

$color_accent: #92d800;
$color_accent--light: #cdfd10;
$color_accent--dark: #b0c558;

$color_auxiliary: #ff48c8;

$color_primary: #25268c;
$color_primary--light: #0036de;

$color_line: #857c70;
$color_line--dark: #403932;

$color_text-color: #141313;
