$max-width_container: 1200px;

$height_navbar: 70px;

$width_container--big: 90%;
$width_container: 85%;
$width_container--small: 75%;

$padding_big: 80px;
$padding_base: 60px;
$padding_small: 40px;

$margin_big: 70px;
$margin_base: 50px;
$margin_small: 30px;

$z-index_back: -1;
$z-index_base: 10;
$z-index_front: 100;
$z-index_cover: 1000;

$border-radius_layout: 30px;
